body{
    display:flex;
    justify-content: center;
    align-items: center;
    
}
#mainContainer{
    display: flex;
    flex-direction: column;
    height: 640px;
    width: 640px;
    margin-top: 150px;
    border: 2px solid black;
}
.square{
    background-color: lightgrey;
    flex-grow: 1;
    height: auto;
}
.blackSquare{
    background-color: black;
}
.container{
    flex-grow: 1;
    display: flex;
}